certifi==2023.5.7
charset-normalizer==3.2.0
databricks-connect==13.2.0
databricks-sdk==0.2.1
googleapis-common-protos==1.59.1
grpcio==1.56.0
grpcio-status==1.56.0
idna==3.4
numpy==1.25.1
pandas==2.0.3
protobuf==4.23.4
py4j==0.10.9.7
pyarrow==12.0.1
pyspark==3.4.1
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
six==1.16.0
tzdata==2023.3
urllib3==2.0.3
